doctype
html
    head
        meta(charset='UTF-8')
        title= title
        meta(name='viewport' content='width=device-width, user-scalable=no')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
    body
        h1 여기는 main
        if user && user.id
            .user-name= '안녕하세요! ' + user.nick + '님'
        a#logout.btn(href='/auth/logout') 로그아웃

        .project
            form#login-form(action='/project' method='post')
                .input-group
                    label(for='title') 제목
                    input#email(type='text' name='title')
                .input-group
                    label(for='start_date') 시작일자
                    input#password(type='text' name='start_date')
                .input-group
                    label(for='end_date') 마지막일자
                    input#password(type='text' name='end_date')
                .input-group
                    label(for='content') 내용
                    input#password(type='text' name='content')
                .input-group
                    label(for='support') 지원범위
                    input#password(type='text' name='support')
                button#login.btn(type='submit') 프로젝트 등록
        .delete
            input#delete-id(type="text")
            button#delete 프로젝트 삭제
    script.
        document.getElementById('delete').addEventListener('click', function (e) {
            var delete_id = parseInt(document.querySelector('#delete-id').value);
            console.log(delete_id)
            var xhr = new XMLHttpRequest();
            xhr.onload = function () {
                if (xhr.status === 200) {
                    var url = JSON.parse(xhr.responseText);
                } else {
                    console.error(xhr.responseText);
                }
            };
            xhr.open('DELETE', `/project/${delete_id}`);
            xhr.send();
        });


